services:

  frontend:
    container_name: frontend
    restart: on-failure
    build:
      context: ./frontend
    ports:
      - "8443:443"
    volumes:
      - frontend-static:/srv/app/static
      - frontend-src:/srv/app/src:ro
      - cert:/run/secrets:ro

  auth-service:
    container_name: auth-service
    restart: on-failure
    build:
      context: ./services/auth
    volumes:
      - auth-service-src:/srv/app/src
      - backend-db:/srv/app/db
      - uploads:/srv/app/uploads
      - cert:/run/secrets:ro
    env_file: .env

  chat-service:
    container_name: chat-service
    restart: on-failure
    build:
      context: ./services/chat
    volumes:
      - chat-service-src:/srv/app/src
      - backend-db:/srv/app/db
      - cert:/run/secrets:ro
    env_file: .env

  friend-service:
    container_name: friend-service
    restart: on-failure
    build:
      context: ./services/friend
    volumes:
      - friend-service-src:/srv/app/src
      - backend-db:/srv/app/db
      - cert:/run/secrets:ro
    env_file: .env

  game-service:
    container_name: game-service
    restart: on-failure
    build:
      context: ./services/game
    volumes:
      - game-service-src:/srv/app/src
      - backend-db:/srv/app/db
      - cert:/run/secrets:ro
    env_file: .env

  queue-service:
    container_name: queue-service
    restart: on-failure
    build:
      context: ./services/queue
    volumes:
      - queue-service-src:/srv/app/src
      - backend-db:/srv/app/db
      - cert:/run/secrets:ro
    env_file: .env

  tournament-service:
    container_name: tournament-service
    restart: on-failure
    build:
      context: ./services/tournament
    volumes:
      - tournament-service-src:/srv/app/src
      - backend-db:/srv/app/db
      - cert:/run/secrets:ro
    env_file: .env

  user-service:
    container_name: user-service
    restart: on-failure
    build:
      context: ./services/user
    volumes:
      - user-service-src:/srv/app/src
      - backend-db:/srv/app/db
      - uploads:/srv/app/uploads
      - cert:/run/secrets:ro
    env_file: .env

  websocket-service:
    container_name: websocket-service
    restart: on-failure
    build:
      context: ./services/websocket
    volumes:
      - websocket-service-src:/srv/app/src
      - backend-db:/srv/app/db
      - cert:/run/secrets:ro
    env_file: .env

  grafana:
    image: grafana/grafana:12.3
    container_name: grafana
    restart: on-failure
    volumes:
      - grafana-config:/etc/grafana
      - cert:/var/certs:ro
    env_file: .env
  
  prometheus:
    image: docker.io/prom/prometheus:v3.9.0
    container_name: prometheus
    restart: on-failure
    command:
      - '--web.config.file=/etc/prometheus/web.yml'
      - '--config.file=/etc/prometheus/prometheus.yml'
    volumes:
      - prometheus-config:/etc/prometheus
      - cert:/var/certs:ro

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    container_name: cadvisor
    privileged: true
    restart: on-failure
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
  
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.4
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - 9200:9200
      - 9300:9300
  
  filebeat:
    image: docker.elastic.co/beats/filebeat:9.2.4
    container_name: filebeat
    restart: on-failure
    privileged: true
    user: root
    volumes:
      - ./config/filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml
      - /var/lib/docker/containers:/var/lib/docker/containers
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - elasticsearch
  
  kibana:
    image: docker.elastic.co/kibana/kibana:9.2.4
    container_name: kibana
    restart: on-failure
    volumes:
      - kibana-config:/usr/share/kibana/config
    depends_on:
      - elasticsearch

volumes:
  frontend-static:
    driver: local
    driver_opts:
      device: ./frontend/static
      type: none
      o: bind
  frontend-src:
    driver: local
    driver_opts:
      device: ./frontend/src
      type: none
      o: bind
  auth-service-src:
    driver: local
    driver_opts:
      device: ./services/auth/src
      type: none
      o: bind

  chat-service-src:
    driver: local
    driver_opts:
      device: ./services/chat/src
      type: none
      o: bind

  friend-service-src:
    driver: local
    driver_opts:
      device: ./services/friend/src
      type: none
      o: bind

  game-service-src:
    driver: local
    driver_opts:
      device: ./services/game/src
      type: none
      o: bind

  queue-service-src:
    driver: local
    driver_opts:
      device: ./services/queue/src
      type: none
      o: bind

  tournament-service-src:
    driver: local
    driver_opts:
      device: ./services/tournament/src
      type: none
      o: bind

  user-service-src:
    driver: local
    driver_opts:
      device: ./services/user/src
      type: none
      o: bind

  websocket-service-src:
    driver: local
    driver_opts:
      device: ./services/websocket/src
      type: none
      o: bind

  backend-db:
    driver: local
    driver_opts:
      device: ./database
      type: none
      o: bind
  cert:
    driver: local
    driver_opts:
      device: ./certificate
      type: none
      o: bind
  uploads:
    driver: local
    driver_opts:
      device: ./frontend/static/uploads
      type: none
      o: bind
  grafana-config:
    driver: local
    driver_opts:
      device: ./monitoring/grafana/
      type: none
      o: bind
  prometheus-config:
    driver: local
    driver_opts:
      device: ./monitoring/prometheus/
      type: none
      o: bind
  kibana-config:
    driver: local
    driver_opts:
      device: ./log-management/kibana
      type: none
      o: bind
