services:
  frontend:
    container_name: frontend
    restart: on-failure
    build:
      context: frontend
    ports:
      - "443:443"
    volumes:
      - public:/srv/app/public
      - secrets:/srv/app/secrets:ro
  backend:
    container_name: backend
    restart: on-failure
    build:
      context: backend

volumes:
  public:
    driver: local
    driver_opts:
      type: none
      device: ./frontend/public
      o: bind
  secrets:
    driver: local
    driver_opts:
      type: none
      device: ./secrets
      o: bind
