services:
  frontend:
    container_name: frontend
    restart: on-failure
    build:
      context: frontend
    ports:
      - "443:443"
    volumes:
      - frontend-static:/srv/app/static
      - frontend-src:/srv/app/src
      - secrets:/run/secrets:ro
      - frontend-src:/srv/app/src:ro

  backend:
    container_name: backend
    restart: on-failure
    healthcheck:
      test: [ "CMD", "curl", "-k", "https://localhost:8080/ping" ]
      interval: 10s
      timeout: 2s
      retries: 3
      start_period: 2s
    ports:
      - "8080:8080"
    build:
      context: backend
    volumes:
      - backend-src:/srv/app/src
      - backend-db:/srv/app/db
      - secrets:/run/secrets:ro
      - uploads:/srv/app/uploads
    env_file: .env

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: on-failure
    ports:
      - 3000:3000

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    container_name: cadvisor
    privileged: true
    restart: on-failure
    ports:
      - 8098:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg

  prometheus:
    image: docker.io/prom/prometheus:latest
    container_name: prometheus
    restart: on-failure
    ports:
      - 9090:9090
    volumes:
      - ./config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus

volumes:
  prometheus-data:
  frontend-static:
    driver: local
    driver_opts:
      device: ./frontend/static
      type: none
      o: bind
  frontend-src:
    driver: local
    driver_opts:
      device: ./frontend/src
      type: none
      o: bind
  backend-src:
    driver: local
    driver_opts:
      device: ./backend/src
      type: none
      o: bind
  backend-db:
    driver: local
    driver_opts:
      device: ./backend/db
      type: none
      o: bind
  secrets:
    driver: local
    driver_opts:
      device: ./secrets
      type: none
      o: bind
  uploads:
    driver: local
    driver_opts:
      device: ./backend/uploads
      type: none
      o: bind

