services:
  frontend:
    container_name: frontend
    restart: on-failure
    build:
      context: frontend
    ports:
      - "443:443"
    volumes:
      - static:/srv/app/static
      - secrets:/run/secrets:ro
    networks:
      - api

  backend:
    container_name: backend
    restart: on-failure
    healthcheck:
      test: [ "CMD", "curl", "-k", "https://localhost:8080/ping" ]
      interval: 10s
      timeout: 2s
      retries: 3
      start_period: 2s
    build:
      context: backend
    volumes:
      - secrets:/run/secrets:ro
    networks:
      - api

volumes:
  static:
    driver: local
    driver_opts:
      device: ./frontend/static
      type: none
      o: bind
  secrets:
    driver: local
    driver_opts:
      device: ./secrets
      type: none
      o: bind

networks:
  api:
    driver: bridge
