services:
  frontend:
    container_name: frontend
    restart: on-failure
    build:
      context: frontend
    ports:
      - "443:443"
    volumes:
      - frontend-static:/srv/app/static
      - frontend-src:/srv/app/src
      - secrets:/run/secrets:ro
  backend:
    container_name: backend
    restart: on-failure
    healthcheck:
      test: [ "CMD", "curl", "-k", "https://localhost:8080/ping" ]
      interval: 10s
      timeout: 2s
      retries: 3
      start_period: 2s
    build:
      context: backend
    volumes:
      - ./backend/db:/srv/app/db
      - secrets:/run/secrets:ro
    ports:              # back test
      - "8080:8080"

volumes:
  frontend-static:
    driver: local
    driver_opts:
      device: ./frontend/static
      type: none
      o: bind
  frontend-src:
    driver: local
    driver_opts:
      device: ./frontend/src
      type: none
      o: bind
  secrets:
    driver: local
    driver_opts:
      device: ./secrets
      type: none
      o: bind
