.friend-card {
	@apply w-full h-20 bg-white flex justify-between items-center px-4;
}

.friend-card-home {
	@apply hover:cursor-pointer bg-white border-white text-black hover:bg-slate-600 hover:scale-101 transition;
}

.request-card {
	@apply w-full h-20 text-white bg-slate-600 border-white flex justify-between items-center px-4 hover:bg-neutral-400 hover:cursor-pointer hover:scale-101 transition;
}

.request-buttons {
	@apply flex justify-between items-center
}

.request-decline {
	@apply px-2 py-1 bg-red-700 hover:bg-red-600 border-white rounded hover:cursor-pointer hover:scale-105 transition;
}

.request-accept {
	@apply px-2 py-1 bg-green-700 hover:bg-green-600 border-white rounded hover:cursor-pointer hover:scale-105 transition;
}

.friend-card-select {
	@apply bg-slate-600 transition text-white;
}

.friend-card-unselect 
{
	@apply bg-white text-black;
}

.friend-avatar {
	@apply w-12 h-12 rounded-full block sm:hidden lg:block;
}

.friend-status {
	@apply flex items-center gap-2 px-2 bg-white border rounded-full;
}

.friend-round-online {
	@apply h-3 w-3 rounded-full bg-green-500;
}

.friend-round-offline {
	@apply h-3 w-3 rounded-full bg-red-400;
}

.friend-text-online {
	@apply font-semibold text-green-600;
}

.friend-text-offline {
	@apply font-semibold text-gray-500;
}

#friend-buttons-cnt{
	@apply flex justify-between gap-3
}

.user-result {
	@apply flex items-center p-2 bg-white rounded shadow hover:bg-gray-50 cursor-pointer
}

.result-avatar{
	@apply w-10 h-10 rounded-full border border-gray-300
}

.result-name{
	@apply ml-3 font-medium text-gray-800
}

#chat-content {
  @apply flex flex-col gap-2 overflow-y-auto p-2;
}

.msg-me {
  @apply self-end bg-slate-600 text-white rounded-lg px-3 py-1 max-w-xs wrap-break-word;
}

.msg-target {
  @apply self-start bg-red-500 text-white rounded-lg px-3 py-1 max-w-xs wrap-break-word;
}

.ended-match-mess {
	@apply flex w-[60vw] h-[30vw] text-2xl text-white justify-center items-center rounded-lg 
}

.win {
	@apply bg-slate-600;
}

.lose {
	@apply bg-red-500;
}

