@import "./card.css";

.tournament-match {
   @apply size-fit;
}
.tournament-player-card {
  @apply border rounded-sm flex flex-row p-4 items-center gap-2;
}
.tournament-player-pic {
  @apply flex rounded-[100%] w-24 overflow-hidden justify-content-center items-center bg-transparent;
}
.tournament-player-username {
  @apply w-full text-left;
}
.tournament-player-score {
  @apply justify-self-end h-full font-bold;
}

@import "tailwindcss";
