@import "./card.css";

.tournament-match {
   @apply size-fit;
}
.tournament-player-card {
  @apply border rounded-sm flex flex-row w-80 p-4 items-center gap-4;
}
.tournament-player-pic {
  @apply rounded-[100%] w-20 md:w-24 overflow-hidden justify-center items-center bg-transparent;
}
.tournament-player-username {
  @apply w-full text-center text-lg;
}
.tournament-player-score {
  @apply justify-self-end h-full font-bold;
}

@import "tailwindcss";
