@import "./card.css";

.tournament-match {
   @apply size-fit;
}
.tournament-carousel {
  @apply flex flex-row lg:flex-col lg:justify-items-center gap-4;
}
.tournament-player-card {
  @apply border rounded-sm flex flex-row place-self-center min-w-80 w-80 h-24 p-4 items-center;
}
.tournament-player-pic {
  @apply rounded-[100%] min-h-20 min-w-20 max-h-20 max-w-20 overflow-hidden justify-center items-center bg-transparent border-1;
}
.tournament-player-username {
  @apply w-full text-center text-lg;
}
.tournament-player-score {
  @apply justify-self-end h-fit font-bold;
}

@import "tailwindcss";
